> # Dear Epsilon Students, 
> # The More you practice The better You'll Be.

### Instructions: 
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone. 
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself. 
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification: 
- Green is level 1 
- Orange is level 2 
- Red is level 3

# <center> Let's start üí™ </center>

## <p style="color:green;">Q.01 Write a Python program to calculate the length of a string.</p>

In [ ]:
# Answer here 
def calc_length(x):
  print(' length of {} = {}'.format(x,len(x)))



  
calc_length('mohamed')

 length of mohamed = 7

## <p style="color:green;">Q.02 Given the string 'hello' give an index command that returns 'e'</p>

In [ ]:
# Answer here 

'hello'[1]

'e'

## <p style="color:green;">Q.03 Reverse the string 'hello' using slicing</p>

In [ ]:
# Answer here 
'hello'[::-1]

'olleh'

## <p style="color:red;">Q.04 Write a Python program to change a given string to a new string where the first and last chars have been exchanged.</p>

In [ ]:
x='mohamed'
print( x[-1] + x[1:-1] + x[0])

dohamem

## <p style="color:green;">Q.05 Reassign 'hello' in this nested list to say 'goodbye' instead</p>
> list3 = [1,2,[3,4,'hello']]

In [ ]:
# Answer here 
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

## <p style="color:green;">Q.06 Sort the list below</p>
> list4 = [5,3,4,6,1]

In [ ]:
# Answer here 
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## <p style="color:green;">Q.07 Write a Python program to sum all the items in a list.</p>

In [ ]:
# Answer here 
list_=[5,6,8,9,7,4,1]
print(sum(list_))

40

## <p style="color:green;">Q.08 Write a Python program to get the largest number from a list.</p>

In [ ]:
# Answer here 
def large_number_from_list(list_of_nums):
  z= 0 
  for i in list(list_of_nums):
     if i > z :
       z=i
  print(f'the largest number from { list_of_nums } is : {z}')





  
large_number_from_list([1,2,3,4,5,6])

the largest number from [1, 2, 3, 4, 5, 6] is : 6

## <p style="color:green;">Q.09 Write a Python program to get the smallest number from a list.</p>

In [ ]:
# Answer here 
def smaler_number_from_list(list_of_nums):
  z= 100000000000 
  for i in list(list_of_nums):
     if i < z :
       z=i
  print(f'the smaler number from { list_of_nums } is : {z}')





  
smaler_number_from_list([1,2,3,4,5,6])

the smaler number from [1, 2, 3, 4, 5, 6] is : 1

## <p style="color:orange;">Q.10 Write a Python program to remove duplicates from a list.</p>

In [ ]:
# Answer here 
def remove_duplicates(list_nums):
  print(list(set(list(list_nums))))


remove_duplicates([5,6,8,9,5,4,6,2,3,5,8,6,9])

[2, 3, 4, 5, 6, 8, 9]

## <p style="color:green;">Q.11 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
>d = {'k1':{'k2':'hello'}}

In [ ]:
# Answer here 
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

## <p style="color:orange;">Q.12 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
> d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [ ]:
# Answer here 
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1]

['hello']

## <p style="color:red;">Q.13 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [ ]:
# Answer here 
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

## <p style="color:green;">Q.14 Write a Python script to add a key to a dictionary.</p>
> Sample Dictionary : {0: 10, 1: 20}

> Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
# Answer here 
Sample = {0: 10, 1: 20}
Sample[2] = 30
Sample

{0: 10, 1: 20, 2: 30}

## <p style="color:green;">Q.15 Write a Python program to sum all the items in a dictionary.</p>

In [ ]:
# Answer here 
x = {0: 10, 1: 20, 2: 30}
sum(x.values())

60

## <p style="color:green;">Q.16 Write a Python program to add an item in a tuple.</p>

In [ ]:
# Answer here 
x = ("apple", "banana", "cherry")
y = list(x)
y.append( "kiwi" )
x = tuple(y)
x

('apple', 'banana', 'cherry', 'kiwi')

## <p style="color:green;">Q.17 Write a Python program to convert a tuple to a string.</p>

In [ ]:
# Answer here 
x = ("apple", "banana", "cherry")
y = ' '.join(x)
y

'apple banana cherry'

## <p style="color:green;">Q.18 Write a Python program to remove item(s) from a given set.</p>

In [ ]:
# Answer here 
x = {1,5,6,7}
x.remove(5)
x

{1, 6, 7}

## <p style="color:orange;">Q.19 Write a Python program to create an intersection of sets.</p>
> Explanation : In mathematics, the intersection of two sets A and B, denoted by A ‚à© B, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A).

In [ ]:
# Answer here 
x = {1,5,6,7,0,4}
y = {5,6,7,9,3,2}
intersection=[]
for k in x :
  if k in y :
     intersection.append(k)
print (f'intersection of sets = { intersection }')

intersection of sets = [5, 6, 7]

## <p style="color:orange;">Q.20 Write a Python program to create a union of sets.</p>
> Explanation :In mathematics, The union of two sets A and B is the set of elements which are in A, in B, or in both A and B.

In [ ]:
# Answer here 
x = {1,5,6,7,0,4}
y = {5,6,7,9,3,2}
union=[]
for k in x : 
   union.append(k)
for m in y :
  union.append(m)
print (f'union of sets = {set(union) }')

union of sets = {0, 1, 2, 3, 4, 5, 6, 7, 9}

# <center> Thank's for your effort ‚ù§Ô∏è </center>